h1 {
    font-size:60px;
    text-align: center;
}
p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
.bold{
    font-weight:bold;
}
.italic{
    font-style:italic;
}
html{
}
body {
    background-color: rgba(74, 172, 163, 0.466);
    width:600px;
    margin: 0 auto;
}